* {
  margin: 24px;
}

#choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-result,
.score,
.final-result {
  text-align: center;
}

.last-result {
  background-color: grey;
}

button {
  margin: 0;
  background-color: darkgrey;
}
